.main-block {
  min-height: 100%;
}
.main-block div,
form,
input,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.9rem;
  color: #666;
  line-height: 1.25rem;
}
h1 {
  font-weight: 400;
  text-align: center;
}
h4 {
  margin-bottom: 0;
}
hr {
  margin: 20px 0;
}
span .required {
  color: red;
}
.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
form {
  width: 100%;
  padding: 20px;
  /* box-shadow: 0 2px 5px #ccc; */
  background: #fff;
}
th,
td {
  width: 12%;
  text-align: center;
  vertical-align: unset;
  line-height: 1.25rem;
  font-weight: 400;
  word-break: break-all;
}

.first-col {
  width: 38%;
  text-align: left;
}
textarea:hover {
  border: 1px solid #095484;
  outline: none;
}
.comments-block,
.radio-block {
  margin: 30px 0;
}
.comments,
.question,
.answer,
.question-answer,
table {
  width: 100%;
  line-height: 1.5rem;
}
.comments {
  margin: 0;
  padding: 1rem;
  font-size: 0.9rem;
}
small {
  display: block;
  line-height: 18px;
  opacity: 0.5;
}
textarea {
  width: calc(100% - 6px);
  margin-top: 1.5rem;
}
.question-answer > div {
  display: inline-block;
  margin-left: 30px;
}
.btn-block {
  text-align: center;
}
button {
  width: 5.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: goldenrod;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #a39306;
}
.spacing {
  display: block;
  color: red;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
}
.form-row {
  font-size: 1rem;
  width: 10rem;
  border: 1px solid #999;
  border-radius: 0.2rem;
  padding: 0.15rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}
select {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.65rem;
}
#form1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#instructor {
  margin-left: 2.3rem;
}
.review-logo {
  height: 9.5rem;
  width: 9.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.formheader {
  text-align: center;
  line-height: 1rem;
}
@media (min-width: 30rem) {
  .comments-block,
  .radio-block {
    display: flex;
    justify-content: space-between;
  }
  .comments {
    width: 30%;
  }
  .answer {
    width: 70%;
  }
  .question,
  .question-answer {
    width: 50%;
  }
  th,
  td {
    word-break: keep-all;
  }
  .spacing {
    display: block;
    color: red;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
  }
  .form-row {
    font-size: 0.9rem;
    width: 20rem;
    border: 1px solid #999;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .review-logo {
    height: 12.5rem;
    width: 12.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }
  /* select {
    margin-left: 19%;
    margin-right: 79%;
  } */
}
@media (min-width: 60rem) {
  .spacing {
    display: block;
    color: red;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
  }
  .form-row {
    font-size: 0.9rem;
    width: 25rem;
    border: 1px solid #999;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .review-logo {
    height: 15rem;
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }
  /* select {
    margin-left: 9%;
    margin-right: 91%;
  } */
}
