.App {
  text-align: center;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.review-logo {
  height: 7.5rem;
  width: 7.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.review-from {
  margin: 0.5rem;
}
.blackstripe {
  border-width: auto;
  border: 1rem;
  background-color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
